/* YeyeYeee código aquí 
amarillo #F6A800
gris #3E3F41
gris claro #DDDEE0*/

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Raleway', sans-serif;
}
nav{
	background-color: #3E3F41;
}
.icono-menu{
	margin-left: -50px;
}
h5{
	display: inline-block;
}
ul#slide-out.side-nav li a i.material-icons{
	color: #F6A800;
}
ul#slide-out.side-nav li a{
	font-size: 16px;
}