/*index-inicio*/
h1{
	color: #F6A800;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}
.logo {
    width: 120px;
	margin-top: 25%;
}
.input-inicio{
	display: block;
	width: 90%;
	height: 60px;
	border: none;
}
.small-inicio{
	text-decoration: none;
	color: #fff;
	margin-left: 5%;
}
input#submitButton.input-inicio{
	background-color: #F6A800;
	color: #3E3F41;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

div.col-xs-12.footer-inicio p{
	color:#fff;
}
div.col-xs-12.footer-inicio p a{
	color: #F6A800;;
}