body{
	background-color: #DDDEE0;
}
#tarjeta{
	margin-top: 20px;
}
.tarifa, .tarjeta{
	display: inline-block;
}
#calcular{
	background-color: #F6A800;
    width: 100%;
    border: none;
    height: 50px;
    color: #fff;
    display: block;
    margin-top: 20px;
}
.titulo{
	background-color: #3E3F41;
	color: #fff;
	height: 30px;
	padding: 1%;
}
.caja-amarilla{
	background-color: #F6A800;;
	color: #fff;
	height: 90px;
	font-size: 25px;
	font-weight: 700;
	padding: 7%;
}
div.tarjeta{
	width: 100%;
}